Package: p4-sai-adapter
Version: 0.1-1
Architecture: amd64
Maintainer: Yonatan Piasetzky <yonatanp@mellanox.com>
Installed-Size: 5534
Section: net
Priority: optional
Homepage: <insert the upstream URL, if relevant>
Description: sai-adapter for p4 software switch
 sai-adapter exposes sai api to configure p4-bmv2 software switch
