*.pyc
log.txt
.deps/
.libs/
Makefile
Makefile.in
gen-cpp/
gen-py/
libsimpleswitch.la
libsimpleswitch_thrift.la
main.o
primitives.lo
primitives.o
simple_switch
simple_switch.lo
simple_switch.o
simple_switch_CLI
sswitch_runtime/
tests/.deps/
tests/CLI_tests/Makefile
tests/CLI_tests/Makefile.in
tests/Makefile
tests/Makefile.in
tests/utils.o
thrift/src/.deps/
thrift/src/.dirstamp
thrift/src/.libs/
thrift/src/SimpleSwitch_server.lo
thrift/src/SimpleSwitch_server.o
thrift_files.ts